################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ExamenProgramacionAvanzada.sln
# Archivos y carpetas de Visual Studio
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
Thumbs.db
*.[Cc]ache
